.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.co

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*sdf
*.suo
*.ncb
*.user
Debug
Release

# scons
.sconf_temp/
.sconsign.dblite
*test
*log

*.exe
text8
text8-phrase
vectors.bin
vectors-phrase.bin

